extends layout
include mixins/areYouSurePopup

block head
    title Edit Trial
    link(rel="stylesheet" href="../../styles/footer.css")
    link(rel="stylesheet" href="../../styles/head.css")
    link(rel="stylesheet" href="../../styles/main.css")
    link(rel="stylesheet" href="../../styles/modal.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src = "../../scripts/editTrial.js")
    script(src="../../scripts/popup.js")
    script. 
        var trial_name = '#{trial.name}'; 

        // set the default values
        window.onload = function() { 
            if('#{trial.task}' == "Disk"){
                document.getElementById("txtLabel").innerHTML = "DISK PARAMETERS";
                // remove pipe options
                document.getElementById("pipeParam1").innerHTML = "";
                document.getElementById("pipeParam2").style.display = "none";
                document.getElementById("pipeParam3").innerHTML = "";
                document.getElementById("pipeParam4").style.display = "none";
                document.getElementById("pipeParam5").style.display = "none";
                // relabel selection
                document.getElementById("txts1").innerHTML = "Break:";  
                document.getElementById("txts2").innerHTML = "Disk1";
                document.getElementById("txts3").innerHTML = "Disk2";
                document.getElementById("txts4").innerHTML = "Disk3";
                document.getElementById("txts5").innerHTML = "Disk4";
            }

            if('#{trial.task}' == "Tower of Hanoi"){
                document.getElementById("txtLabel").innerHTML = "Tower of Hanoi PARAMETERS";
                // remove pipe options
                document.getElementById("pipeParam1").innerHTML = "";
                document.getElementById("pipeParam2").style.display = "none";
                document.getElementById("pipeParam3").innerHTML = "# of rings: ";
                document.getElementById("pipeParam4").style.display = "none";
                document.getElementById("pipeParam5").style.display = "block";

                if('#{trial.numBumps}' == 3){ document.getElementById('3').selected = true; }
                else if('#{trial.numBumps}' == 4){ document.getElementById('4').selected = true; }
                else if('#{trial.numBumps}' == 5){ document.getElementById('5').selected = true; }
                else if('#{trial.numBumps}' == 6){ document.getElementById('6').selected = true; }
                else if('#{trial.numBumps}' == 7){ document.getElementById('7').selected = true; }
                else if('#{trial.numBumps}' == 8){ document.getElementById('8').selected = true; }

                    // relabel selection
                document.getElementById("txts1").innerHTML = "";  
                document.getElementById("txts2").innerHTML = "";
                document.getElementById("txts3").innerHTML = "";
                document.getElementById("txts4").innerHTML = "";
                document.getElementById("txts5").innerHTML = "";

                document.getElementById("pipe1").style.display = "none";
                document.getElementById("pipe2").style.display = "none";
                document.getElementById("pipe3").style.display = "none";
                document.getElementById("pipe4").style.display = "none";

            }
            if('#{trial.task}' == "Disk" || '#{trial.task}' == "Pipe"){
             document.getElementById("pipeParam5").style.display = "none";
            // reselect previously selected values
            if('#{trial.pipe1}' == "true"){ document.getElementById('pipe1').checked = true;  }
            if('#{trial.pipe2}' == "true"){ document.getElementById('pipe2').checked = true;  }
            if('#{trial.pipe3}' == "true"){ document.getElementById('pipe3').checked = true;  }
            if('#{trial.pipe4}' == "true"){ document.getElementById('pipe4').checked = true;  }

            console.log("pipe1: " + '#{trial.pipe1}');
            console.log("pipe2: " + '#{trial.pipe2}');
            console.log("pipe3: " + '#{trial.pipe3}');
            console.log("pipe4: " + '#{trial.pipe4}');
            
            if('#{trial.trashSize}' == 1){ document.getElementById('small').selected = true; }
            else{ document.getElementById('large').selected = true; }
            }     
        };
        

        $(function() {
        $('select[name="selectPublishedTask"]').change(function() {
            var $this = $(this);
            console.log($this.val());
            if($this.val() == "Disk"){
                document.getElementById("txtLabel").innerHTML = "DISK PARAMETERS";
                // remove pipe options
                document.getElementById("pipeParam1").innerHTML = "";
                document.getElementById("pipeParam2").style.display = "none";
                document.getElementById("pipeParam3").innerHTML = "";
                document.getElementById("pipeParam4").style.display = "none";
                document.getElementById("pipeParam5").style.display = "none";
                // relabel selection
                document.getElementById("txts1").innerHTML = "Break:";  
                document.getElementById("txts2").innerHTML = "Disk1";
                document.getElementById("txts3").innerHTML = "Disk2";
                document.getElementById("txts4").innerHTML = "Disk3";
                document.getElementById("txts5").innerHTML = "Disk4";

                 document.getElementById("pipe1").style.display = "block";
                document.getElementById("pipe2").style.display = "block";
                document.getElementById("pipe3").style.display = "block";
                document.getElementById("pipe4").style.display = "block";
            }
            else if($this.val() == "Tower of Hanoi"){
                document.getElementById("txtLabel").innerHTML = "Tower of Hanoi PARAMETERS";
                // remove pipe options
                document.getElementById("pipeParam1").innerHTML = "";
                document.getElementById("pipeParam2").style.display = "none";
                document.getElementById("pipeParam3").innerHTML = "# of rings: ";
                document.getElementById("pipeParam4").style.display = "none";
                document.getElementById("pipeParam5").style.display = "block";
                // relabel selection
                document.getElementById("txts1").innerHTML = "";  
                document.getElementById("txts2").innerHTML = "";
                document.getElementById("txts3").innerHTML = "";
                document.getElementById("txts4").innerHTML = "";
                document.getElementById("txts5").innerHTML = "";

                document.getElementById("pipe1").style.display = "none";
                document.getElementById("pipe2").style.display = "none";
                document.getElementById("pipe3").style.display = "none";
                document.getElementById("pipe4").style.display = "none";

            }
            else{
                document.getElementById("txtLabel").innerHTML = "PIPE PARAMETERS";
                // reinsert pipe options
                document.getElementById("pipeParam1").innerHTML = "Trash Size: ";
                document.getElementById("pipeParam2").style.display = "block";
                document.getElementById("pipeParam3").innerHTML = "# Bumps:";
                document.getElementById("pipeParam4").style.display = "block";
                document.getElementById("pipeParam5").style.display = "none";
                // relabel selection
                document.getElementById("txts1").innerHTML = "Clog:";  
                document.getElementById("txts2").innerHTML = "Pipe1";
                document.getElementById("txts3").innerHTML = "Pipe2";
                document.getElementById("txts4").innerHTML = "Pipe3";
                document.getElementById("txts5").innerHTML = "Pipe4";

                      document.getElementById("pipe1").style.display = "block";
                document.getElementById("pipe2").style.display = "block";
                document.getElementById("pipe3").style.display = "block";
                document.getElementById("pipe4").style.display = "block";
            }
            });
        });

block content
    //- Send the Trial!
    +head("Edit Trial " + trial.name, true, 0)
    .createContainer
        .left
            .listItems(id='createTrialListItems')
                .item
                    p Name:
                    input(type='text' placeholder='Enter Trial Name' name='trial_name' required='' value=trial.name maxLength='20')
                .item
                    p Preliminary Survey URL:
                    input(type='text' placeholder='Enter Preliminary Survey URL' name='preSurveyURL' required='' value=trial.preSurveyURL)
                .item
                    p Main Survey URL:
                    input(type='text' placeholder='Enter Main Survey URL' name='mainSurveyURL' required='' value=trial.mainSurveyURL)
                .item
                    p Post Survey URL:
                    input(type='text' placeholder='Enter Post Survey URL' name='postSurveyURL' required='' value=trial.postSurveyURL)
                .item
                    p Learning Video URL:
                    input(type='text' placeholder='Enter Video URL' name='videoURL' required='' value=trial.videoURL)
                button(id='editTrialCancel' onclick="popup('areYouSurePopup')") Cancel
        .right
            .listItems(id='createTrialListItems')
                .item
                    p Published Task:
                    select#publishedTask(name="selectPublishedTask")
                        option(value='0') -- Select a Published Task --
                        each pt in publishedTasks
                            if pt.name === trial.task
                                option(value=pt.name selected=true) #{pt.name}
                            else
                                option(value=pt.name) #{pt.name}
                p(id='txtLabel') PIPE PARAMETERS
                .item
                    p(id='pipeParam1') Trash Size:
                    select(name="trashSize" id="pipeParam2")
                        option(value='small' name='small' id='small') Small 
                        option(value='large' name='large' id='large') Large 
                .item
                    p(id="pipeParam3") # Bumps:
                    input(type='text' name='numBumps' id="pipeParam4" required='' value=trial.numBumps)
                    select(name="numBumps" id="pipeParam5")
                        option(value='3' name='rings' id='3') 3 
                        option(value='4' name='rings' id='4') 4 
                        option(value='5' name='rings' id='5') 5 
                        option(value='6' name='rings' id='6') 6 
                        option(value='7' name='rings' id='7') 7 
                        option(value='8' name='rings' id='8') 8 
                .item
                    p(id='txts1') Clog:
                    p(id='txts2') Pipe1
                    input(type='checkbox' name='pipe1' id='pipe1')
                    p(id='txts3') Pipe2
                    input(type='checkbox' name='pipe2' id='pipe2')
                    p(id='txts4') Pipe3
                    input(type='checkbox' name='pipe3' id='pipe3')
                    p(id='txts5') Pipe4
                    input(type='checkbox' name='pipe4' id='pipe4')
                button(id = 'editTrialSave') Save
                //- for param in taskParameters
                //- .item
                //-     p(id='txt')= param
                //-     input(type='text' name=param required='')
        br
        //- .buttonGroup
        //-     //- TODO: Cancel pop up dialogue - are you sure you want to leave? User won't be created.
        //-     button(id='trialCancel' onclick="popup('areYouSurePopup')") Cancel
        //-     //- TODO: Submit pop up dialogue - are you sure you want to Edit User?
        //-     //- TODO: onclick save function
        //-     button(id = 'trialSave') Save
    +areYouSurePopup("location.href='/trialRepo'")